@{
    ViewData["Title"] = "Contact";
}
<div class="container py-4">
    <h2 class="mb-3">Contact Us</h2>
    <p>We'd love to hear from you. Reach us using the details below.</p>

    <div class="row g-3">
        <div class="col-md-6">
            <div class="p-3 border rounded">
                <h5 class="mb-1">Address</h5>
                123 Wellness Street, Spa City
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border rounded">
                <h5 class="mb-1">Phone</h5>
                (555) 123-4567
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border rounded">
                <h5 class="mb-1">Email</h5>
                info@serenityspa.com
            </div>
        </div>
    </div>
</div>

